@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Mitr', sans-serif;
}

input,
textarea {
  @apply block rounded border p-1;
}

.container {
  @apply mx-auto max-w-4xl px-8;
}

.btn {
  @apply rounded bg-gray-50 px-4 py-2 transition hover:bg-gray-400;
}

.btn-primary {
  @apply bg-green-700 text-white hover:bg-green-900;
}

.btn-secondary {
  @apply bg-gray-100 hover:bg-gray-200;
}

em-emoji-picker {
  width: 80vw;
}

@media (min-width: 640px) {
  em-emoji-picker {
    width: 400px;
  }
}
