@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

input,
textarea {
  @apply border rounded p-1 block;
}

header {
  font-family: 'Mitr', sans-serif;
}

.container {
  @apply mx-auto max-w-4xl px-8;
}

.btn {
  @apply px-4 py-2 bg-gray-50 hover:bg-gray-400 rounded transition;
}

.btn-primary {
  @apply bg-green-600 hover:bg-green-800 text-white;
}

.btn-secondary {
  @apply bg-gray-100 hover:bg-gray-200;
}

.moji-output-container {
  min-height: 200px;

  @apply rounded bg-gray-50 border;
}

.form-group {
  @apply flex flex-col;
}

.emoji-picker {
  max-width: 80vw;
}
