@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

input,
textarea {
  @apply border rounded p-1 block;
}

header {
  font-family: 'Mitr', sans-serif;
}

.container {
  @apply mx-auto max-w-4xl px-8;
}

.btn {
  @apply px-4 py-2 bg-gray-50 hover:bg-gray-400 rounded transition;
}

.btn-primary {
  @apply bg-green-700 hover:bg-green-900 text-white;
}

.btn-secondary {
  @apply bg-gray-100 hover:bg-gray-200;
}

.moji-output-container {
  min-height: 200px;
  max-height: 600px;

  @apply rounded bg-gray-50 border overflow-scroll;
}

.form-group {
  @apply flex flex-col;
}

.emoji-picker {
  @apply mt-1 border rounded w-10 h-10 flex items-center justify-center;
}

.emoji-picker-popup {
  max-width: 80vw;
}

.form-error {
  @apply hidden text-red-700 text-sm;
}

.form-submitted {
  input.invalid {
    @apply border-red-700 outline-red-700;
  }

  .emoji-picker.invalid {
    @apply border-red-700;
  }

  .form-error {
    @apply block;
  }
}
